.github/**
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/Score.txt
build/SnakeGame
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.27.4/CMakeCCompiler.cmake
build/CMakeFiles/3.27.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.27.4/CMakeSystem.cmake
build/CMakeFiles/3.27.4/CompilerIdC/a.out
build/CMakeFiles/3.27.4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.27.4/CompilerIdCXX/a.out
build/CMakeFiles/3.27.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.29.3/CMakeCCompiler.cmake
build/CMakeFiles/3.29.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.29.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.29.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.29.3/CMakeSystem.cmake
build/CMakeFiles/3.29.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.29.3/CompilerIdC/CMakeCCompilerId.o
build/CMakeFiles/3.29.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.29.3/CompilerIdCXX/CMakeCXXCompilerId.o
build/CMakeFiles/SnakeGame.dir/build.make
build/CMakeFiles/SnakeGame.dir/compiler_depend.internal
build/CMakeFiles/SnakeGame.dir/compiler_depend.make
build/CMakeFiles/SnakeGame.dir/DependInfo.cmake
build/CMakeFiles/SnakeGame.dir/flags.make
build/CMakeFiles/SnakeGame.dir/link.txt
build/CMakeFiles/SnakeGame.dir/src/controller.cpp.o
build/CMakeFiles/SnakeGame.dir/src/controller.cpp.o.d
build/CMakeFiles/SnakeGame.dir/src/game.cpp.o
build/CMakeFiles/SnakeGame.dir/src/game.cpp.o.d
build/CMakeFiles/SnakeGame.dir/src/main.cpp.o
build/CMakeFiles/SnakeGame.dir/src/main.cpp.o.d
build/CMakeFiles/SnakeGame.dir/src/renderer.cpp.o
build/CMakeFiles/SnakeGame.dir/src/renderer.cpp.o.d
build/CMakeFiles/SnakeGame.dir/src/score.cpp.o
build/CMakeFiles/SnakeGame.dir/src/score.cpp.o.d
build/CMakeFiles/SnakeGame.dir/src/snake.cpp.o
build/CMakeFiles/SnakeGame.dir/src/snake.cpp.o.d
src/a.out
build/build.ninja
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-f51a906c1450a064619c.json
build/.cmake/api/v1/reply/cmakeFiles-v1-15e071ed0a61061024fc.json
build/.cmake/api/v1/reply/codemodel-v2-c3aa453c99e78d8b04e9.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2024-06-08T03-38-04-0703.json
build/.cmake/api/v1/reply/target-SnakeGame-Debug-9ed869da2315848fcdd8.json
build/.cmake/api/v1/reply/toolchains-v1-058159511dde99287f15.json
build/CMakeFiles/rules.ninja
.DS_Store
.gitignore
